/* Characters.css */
.container {
     background-color: #121212;
     /* Fondo oscuro inspirado en Borderlands */
     color: #ffffff;
     /* Texto blanco */
     padding: 20px;
}

h2 {
     color: #f0cb00;
     /* Amarillo para el título */
}

.card-group {
     margin-top: 20px;
     /* Espaciado en la parte superior de los grupos de tarjetas */
}

h3 {
     color: #f0cb00;
     /* Amarillo para el título de la categoría del juego */
}

.card {
     background-color: #212121;
     /* Fondo oscuro para las tarjetas de personajes */
     color: #ffffff;
     /* Texto blanco en las tarjetas */
     border: 2px solid #f0cb00;
     /* Borde amarillo para las tarjetas */
}

.card:hover {
     background-color: #343434;
     /* Cambio de color al pasar el ratón por encima de la tarjeta */
}

.card-title {
     font-size: 1.2rem;
     /* Tamaño de fuente ligeramente más grande para el título de la tarjeta */
}

.card-text {
     font-size: 0.9rem;
     /* Tamaño de fuente ligeramente más pequeño para el texto de la tarjeta */
}

.ratio {
     background-color: #212121;
     /* Fondo oscuro para el contenedor de la imagen */
}

.ratio img {
     border-radius: 8px;
     /* Bordes redondeados para la imagen */
}