/* App.css */
body {
  background-color: #121212;
  /* Fondo oscuro para el cuerpo de la aplicación */
  color: #ffffff;
  /* Texto blanco por defecto */
  font-family: "Arial", sans-serif;
  /* Fuente similar a la utilizada en Borderlands */
}