/* App.css */
body {
  background-color: #121212;
  /* Fondo oscuro para el cuerpo de la aplicación */
  color: #ffffff;
  /* Texto blanco por defecto */
  font-family: "Arial", sans-serif;
  /* Fuente similar a la utilizada en Borderlands */
}

.routes-container {
  margin-top: 20px;
  /* Espaciado en la parte superior de las rutas */
}

.error-message {
  color: #ff5555;
  /* Color rojo para mensajes de error */
}

/* Estilos para el botón de enlace */
.link-button {
  background-color: #ffcc00;
  /* Color de fondo amarillo para los botones de enlace */
  border-color: #ffcc00;
  /* Color del borde amarillo para los botones de enlace */
  color: #000000;
  /* Texto negro para los botones de enlace */
  text-decoration: none;
  /* Elimina el subrayado del texto del botón de enlace */
  padding: 8px 16px;
  /* Ajusta el padding del botón */
  display: inline-block;
  /* Mantiene el botón en línea con el texto */
  font-weight: bold;
  /* Texto en negrita */
  transition: background-color 0.3s ease;
  /* Transición suave del color de fondo al pasar el ratón */
}

.link-button:hover {
  background-color: #ff9900;
  /* Cambio de color al pasar el ratón por encima del botón de enlace */
  border-color: #ff9900;
}